@import "tailwindcss";
@import "./assets/fonts/fonts.css";

@theme {
    --color-kmg-orange: #ff6600;
}

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        width: 100vw;
        height: 100vh;
    }

    body {
        width: 100%;
        height: 100%;
        font-family: "Fredoka", sans-serif;

        overflow-x: hidden;
    }

    #root {
        width: 100%;
        height: 100%;
    }
}
