@import "tailwindcss";

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        width: 100vw;
        height: 100vh;
    }

    body,
    #root {
        width: 100%;
        height: 100%;
    }
}
